* {
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row{
    width: 100%;
}
h1{
    text-align: center;
}
.heading{
    border:2px solid black;
   font-weight: bold;
    float: right;
    padding: 5px 20px;
    
}
#back1 .heading {
     background-color: rgb(243, 61, 115);
}
#back2 .heading {
    color: white;
    background-color: rgb(240, 68, 62);
}
#back3 .heading{
    background-color: rgb(216, 214, 89);
}
p{
    clear: right;
    padding: 20px;
    font-size: 1.1em;
     background-color: grey;
     margin: 0%;

}
@media(min-width:992px){
    .col-lg-4{ 
        border: 1px solid black;
        width: 31.1%;
        margin: 1%;
        float: left;
    }
}
@media(min-width:768px) and (max-width:991px){
    .col-md-6 {
        border: 2px solid black;
        width: 47.5%;
        margin: 1.15%;
        float: left;
    }
    .col-md-12 {
        border: 2px solid black;
        width: 97%;
        margin: 1.15%;
        float: left;
    }
}
@media(max-width:767px){
    .col-sm-12 {
        border: 2px solid black;
        width: 97%;
        margin: 1.15%;
        float: left;
    }
}
#back1,#back2,#back3{
    background-color: grey;
}
